.button {
  width: 300px;
  margin: 10px auto;
  padding: 10px;
  background-color: transparent;
  color: coral;
  font-size: 18px;
  border: 1px solid coral;
  border-radius: 5px;
  cursor: pointer;
  transition: .2s;
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
  @media only screen and (min-device-width: 360px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    width: 150px;
    padding: 5px;
    font-size: 14px;
  }
}

.button:hover {
  background-color: rgba(255, 127, 80, 0.9);
  color: whitesmoke;
}