.registration {
  display: flex;
  height: 40vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .inputWrap {
      display: flex;
      flex-direction: column;

      input {
        margin-bottom: 10px;
        padding: 10px;
        border: 0;
        border-radius: 10px;
        background-color: rgba(243, 233, 233, 0.5);
        font-size: 18px;

        &::placeholder {
          @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
            font-size: 14px;
          }
        }
        @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
          font-size: 14px;
        }

        &:focus {
          border: 1px solid coral;
        }
      }
    }

    .button {
      width: 300px;
      margin: 10px auto;
      padding: 10px;
      background-color: transparent;
      color: coral;
      font-size: 18px;
      border: 1px solid coral;
      border-radius: 10px;
      cursor: pointer;
      transition: .2s;
      text-transform: capitalize;
      text-decoration: none;
      text-align: center;
      @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
        width: 120px;
        padding: 5px;
        font-size: 14px;
      }
    }

    .button:hover {
      background-color: rgba(255, 127, 80, 0.9);
      color: whitesmoke;
    }
  }
}