.registration {
  display: flex;
  align-items: center;
  flex-direction: column;
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  input {
    margin-bottom: 10px;
  }
}