.calendar {
  height: 20vh;
  border: 1px solid coral;
  border-radius: 42px;
  margin: 20px 0 20px 0;
}

.calendarSlider {
  display: flex;
  overflow: auto;
}

.calendarItem {
  min-width: 100px;
  min-height: 60px;
  border: 1px solid coral;
  border-radius: 5px;
  margin: 10px 15px 10px 15px;
  text-align: center;
  cursor: pointer;
  transition: .2s;
}

.calendarItem:hover {
  background-color: coral;
  color: white;
}