.calendar {
  height: 20vh;
  border: 1px solid coral;
  border-radius: 10px;
  margin: 20px 0 20px 0;

  .h2 {
    text-align: center;
  }

  .calendarSlider {
    display: flex;
    overflow: auto;

    .calendarItem {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-width: 100px;
      min-height: 60px;
      border: 1px solid coral;
      border-radius: 5px;
      margin: 10px 15px 10px 15px;
      text-align: center;
      cursor: pointer;
      transition: .2s;
      &.active {
        background-color: coral;
        color: white;
      }
    }

    .calendarItem:hover {
      background-color: coral;
      color: white;
    }
  }

  .dots {
    display: flex;
    margin-bottom: 5px;
    justify-content: center;
    align-items: center;

    .completeDot {
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: #ff7f50;
      margin-right: 5px;
    }
    .noCompleteDot {
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: #101010;
    }
  }
}




