.formWrap {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid coral;
  border-radius: 10px;
  margin-top: 20px;

  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    margin-top: 5px;
    height: 80vh;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;

    input {
      width: 420px;
      margin-bottom: 10px;
      padding: 10px;
      border: 0;
      border-radius: 10px;
      background-color: rgba(243, 233, 233, 0.5);
      font-size: 18px;
      &:focus {
        border: 1px solid coral;
      }
      &::placeholder {
        @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
          font-size: 14px;
        }
      }
      @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
        width: 320px;
        font-size: 14px;
      }
    }

    textarea {
      width: 420px;
      height: 500px;
      margin-bottom: 10px;
      padding: 10px;
      border: 0;
      border-radius: 10px;
      background-color: rgba(243, 233, 233, 0.5);
      font-size: 18px;
      resize: none;
      &:focus {
        border: 1px solid coral;
      }
      &::placeholder {
        @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
          font-size: 14px;
        }
      }
      @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
        width: 320px;
        height: 300px;
        font-size: 14px;
      }
    }

    .button {
      width: 200px;
      padding: 10px;
      background-color: transparent;
      color: coral;
      font-size: 18px;
      border: 1px solid coral;
      border-radius: 10px;
      cursor: pointer;
      transition: .2s;
      text-transform: capitalize;
      text-decoration: none;
      text-align: center;
      @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
        width: 180px;
        padding: 5px;
        font-size: 14px;
      }
    }


    .button:hover {
      background-color: rgba(255, 127, 80, 0.9);
      color: whitesmoke;
    }
  }
}