@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

* {
  box-sizing: border-box;
}

*:focus {outline:none !important}

h3 {
  text-align: center;
  margin: 10px 0 10px 0;
}

#root {
  max-width: 768px;
  margin: 0 auto;
}
